.dashboardHeader {
  margin: 40px 0 0 90px;
  h1 {
    color: black;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 25px;
  }

  .firstName {
    color: #FF0101;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
  }
}

